progress {
	margin-left: 43px;
	height: 40px;
}

#title {
	margin-left: 30px;
}

h2 {
	margin-left: 82px;
}

input {
	width: 220px;
	text-align: center;
}

body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

#startStop {
	border: transparent;
	background-color: white;
}