progress {
	margin-left: 43px;
	height: 40px;
	align-items: center;
}

#title {
	margin-left: 30px;
}

h2 {
	margin-left: 82px;
}

input {
	width: 220px;
	text-align: center;
}

body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

#startStop {
	border: transparent;
	background-color: white;
	align-self: center;
	margin: 15px;
}

#restart {
	color: black;
	font-weight: 700;
	background-color: white;
	border: 3px solid black;
	border-radius: 15px;
	text-align: center;
	padding: 8px;
}

button {
	all: unset;
}

button:hover {
	cursor: pointer;
}